@model TagDTO

<div class="container">

    <div class="tags">

         <div class="tag">
             <h1>Link</h1>

             <div class="form">
                 <form asp-antiforgery="true" >
                    <input asp-for="@Model.Name" value="LinkName" >
                    <input asp-for="@Model.TargetLink" value="LinkValue" >
                    <button data-url="@Url.Action("Create", "Admin")" 
                        id="add" type="submit" value="Add">Add</button>
                 </form>
             </div>

             <hr>
              <ul id="links">
                @foreach(var tag in @Model.Tags)
                {
                    <li>@tag.Name</li>
                }

              </ul>
 
 
         </div>

         <div class="view">
            <h1>View on Mobile</h1>
    
         </div>



    </div>


</div>
