@model TagDTO
<style>
    body {
            background: #fff !important;
    }
</style>


<h1>@Model.Name</h1>
<h1>@Model.Theme</h1>
<h1>@Model.MainLinkImg</h1>

<img id="imgProfile" src="@Model.GetImgConverted" alt="">

 <form asp-antiforgery="true"> </form>

<div class="container">
    <div class="tags">
         <div class="tag">
             <div class="profile-link">
                 @foreach(var item  in @Model.Tags)
                    {
                        <div class="item">
                            <a class="tag-register" 
                               href="@item.TargetLink" 
                               target="_blank" 
                               data-url="@Url.Action("RegisterIpData", "Admin")"
                               rel="noopener noreferrer"
                               data-id="@item.Id">@item.Name</a>
                        </div> 
                    }
            </div>            
         </div>
    </div>
</div>

 

@section Scripts
{
   <script>
       RegisterTag()
   </script>
}