@model TagDTO
 


<h1>@Model.Name</h1>
<h1>@Model.Theme</h1>
<h1>@Model.MainLinkImg</h1>

<form asp-antiforgery="true">

</form>

<div class="container">
    <div class="tags">
         <div class="tag">
             <div class="profile-link">
                 @foreach(var item  in @Model.Tags)
                    {
                        <div class="item">
                            <a class="tag-register" 
                               href="@item.TargetLink" 
                               target="_blank" 
                               rel="noopener noreferrer"
                               data-id="@item.Id">@item.Name</a>
                        </div> 
                    }
            </div>            
         </div>
    </div>
</div>



@section Scripts
{
<script src="~/js/registertag.js" asp-append-version="true"></script>
}