@model TagDTO
@{ var line = 1; }
@foreach(var item  in @Model.Tags)
{
    <div class="form-update">
        <div class="data-input">
            <button class="btn g-bg-primary rounded-0"
                data-key=@line
                data-type="update"
                data-id="@item.Id"
                data-url=@Url.Action("Update", "Admin")
                value="Update">Update
            </button>
            
            
            <input class="form-control form-control-xs rounded-0"  data-key=@line data-name type="text" value="@item.Name">
            <input class="form-control form-control-xs rounded-0"  data-key=@line data-link type="text" value="@item.TargetLink">
            <label class="form-check-inline u-check g-mr-20 mx-0 mb-0">
            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-right-0" 
                data-key=@line
                data-active
                data-type="update"
                data-url=@Url.Action("Update", "Admin")
                data-id="@item.Id"
                id=@line
                type="checkbox" value="@item.Active" checked="@item.Active"   >
            <div class="u-check-icon-radio-v7">
                <i class="d-inline-block"></i>
            </div>
            </label>
            
            
            
        </div>
    </div>

    { line++; }
}
 