@page
@model LoginModel
 
 
 <div class="container g-py-150 text-center">
        
           <form id="account" method="post">
                <h4>Log in to continue to your account.</h4>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Input.Email" class="form-control form-control-md g-rounded-20" type="text" placeholder="Email or Username">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    
                <input asp-for="Input.Password" class="form-control form-control-md g-rounded-20" type="text" placeholder="Password">

                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="form-group g-mb-10">
                        <label class="u-check g-pl-25">
                        <input asp-for="Input.RememberMe" class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox" checked="">
                        <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                            <i class="fa" data-check-icon=""></i>
                        </div>
                         @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-md u-btn-blue g-mr-10 g-mb-15">Log in</button>
                     

                </div>
                <div class="form-group actions">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password? Click to reset</a>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Don't have an account?</a>
                    </p>
                </div>
            </form>
       
      </div>

 
<div class="row">
    <div class="col-md-4">
        <section>
            
        </section>
    </div>
   <!-- <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
    --> 
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
